# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.venv/
.venv*
venv/
ENV/

# Streamlit
.streamlit/

# Jupyter
.ipynb_checkpoints/

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Tests/cache
.pytest_cache/
.mypy_cache/
.ruff_cache/

# Python packaging metadata
*.egg-info/